@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* ###### Global ###### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
    /* ### Color ###*/
    --Color-1: #283F3B;
    --Color-2: #8BA27C;
    --Color-3: #E9EDE5;
    --Color-4: #F5F5F5;
    --Color-5: #FFF8EA;

    /* ### Font Size ### */
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-40: 40px;
    --fs-48: 48px;

    /* ### Font Weight ### */
    --fw-Black: 900;
    --fw-Bold: 700;
    --fw-Semi-Bold: 600;
    --fw-Medium: 500;
    --fw-Light: 300;
    --fw-Extra-Light: 200;
    --fw-Thin: 100;

    /* ### Font Family */
    --ff-Out-Fit: "Outfit", sans-serif;
}

/* ###### Body ###### */
body{
    font-family: var(--ff-Out-Fit);
    color: var(--Color-1);

    a{
        color: var(--Color-1);
    }
    h1, .header_1{
        font-size: var(--fs-48);
        font-weight: var(--Fw-Black);
    }
    h2, .header_2{
    font-size: var(--fs-40);
        font-weight: var(--Fw-Bold);
    }
    h3, .header_3{
        font-size: var(--fs-32);
        font-weight: var(--fw-Semi-Bold);
    }
    h4, .header_4{
        font-size: var(--fs-24);
        font-weight: var(--fw-Medium);
    }
    .paragraph_1{
        font-size: var(--fs-20);
        font-weight: var(--fw-Light);
    }
    .paragraph_2{
        font-size: var(--fs-16);
        font-weight: var(--fw-Extra-Light);
    }
    .caption{
        font-size: var(--fs-12);
        font-weight: var(--fw-Thin);
    }
}

/* ###### Light Mode ###### */
body.light_mode{
    background-color: white;
    color: var(--Color-1);

    nav{
        background-color: var(--Color-4);
    
        a{
            color: var(--Color-1);
        }
        span{
            color: var(--Color-1);
        }
        .dropdown_content{
            border-color: var(--Color-1);
            background-color: var(--Color-4);
        }
    }
}

/* ###### Dark Mode ###### */
body.dark_mode{
    color: var(--Color-4);

    nav{
        background-color: var(--Color-1);

        a{
            color: var(--Color-4);
        }
        span{
            color: var(--Color-4);
        }
        .dropdown_content{
            border-color: var(--Color-4);
            background-color: var(--Color-1);
        }
    }
}


/* ###### Nav ###### */
nav{
    position: fixed;
    width: 100%;
    z-index: 50;
    box-shadow: 0 5px 10px #00000025;

    h3{
        cursor: pointer;
    }
    .navigation_mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 8px;

        .right{
            display: flex;
            gap: 16px;

            ion-icon{
                cursor: pointer;
                transition: color ease-out 300ms;
            }
            ion-icon:hover{
                color: var(--Color-2);
            }
            input{
                width: 30px;
                height: 30px;
                position: absolute;
                top: 13px;
                right: 8px;
                opacity: 0;
            }
            label{
                width: 30px;
                height: 20px;
                position: relative;
                cursor: pointer;
                
                span{
                    width: 100%;
                    height: 2.5px;
                    background-color: var(--Color-1);
                    position: absolute;
                    left: 0;
                    border-radius: 50px;
                    transition: 0.3s;
                }
                span:first-child{
                    top: 0;
                }
                span:nth-child(2){
                    top: 50%;
                }
                span:nth-child(3){
                    top: 100%;
                }
            }
            .dropdown_content{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                padding: 15px 0;
                position: absolute;
                left: -110%;
                top: 57px;
                transition: left ease 300ms;
                width: 100%;
                height: 300px;
                z-index: 30;
                border-top: 2px solid;
                box-shadow: 0 5px 10px #00000025;
            }
        }
    }
    .navigation_desktop{
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 16px 32px;

        .left{
            display: flex;
            gap: 24px;
            align-items: center;

            .links{
                display: flex;
                gap: 24px;

                a{
                    text-decoration: none;
                    position: relative;
                }
                a::after{
                    content: '';
                    position: absolute;
                    bottom: -20.8px;
                    left: 0;
                    width: 0px;
                    height: 3px;
                    background-color: var(--Color-1);
                    transition: width ease-out 300ms;
                }
                a:hover::after{
                    width: 100%;
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 30px;

            ion-icon{
                cursor: pointer;
            }
        }
    }
}

nav input:checked ~ .dropdown_content{
    left: 0;
}

nav input:checked ~ label span:first-child{
    transform: rotate(45deg);
    top: 50%;
}

nav input:checked ~ label span:nth-child(2){
    opacity: 0;
}

nav input:checked ~ label span:nth-child(3){
    transform: rotate(-45deg);
    top: 50%;
}

/* ###### Main ###### */
main{
    padding-top: 62.4px;
}

/* ###### Footer ###### */
footer{
    margin-top: 1000px;
    background-color: var(--Color-1);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 48px 32px;

    .reseaux{
        display: flex;
        gap: 8px;

        ion-icon{
            font-size: 18px;
        }
    }
    .mention{
        display: flex;
        gap: 16px;
    }
}

@media screen and (min-width: 700px){
    
    /* ###### Body ###### */
    body{

        h1, .header_1{
            font-size: var(--fs-30);
        }
        h2, .header_2{
            font-size: var(--fs-28);
        }
        h3, .header_3{
            font-size: var(--fs-24);
        }
        h4, .header_4{
            font-size: var(--fs-16);
        }
        .paragraph_1{
            font-size: var(--fs-16);
        }
        .paragraph_2{
            font-size: var(--fs-12);
        }
        .caption{
            font-size: var(--fs-10);
        }
    }

    /* ###### Nav ###### */
    nav{
        .navigation_mobile{
            display: none;
        }
        .navigation_desktop{
            display: flex;
        }
    }
}